[phases.setup]
cmds = [
  "if [ -d ../../packages ]; then mkdir -p packages && cp -r ../../packages/* packages/; fi",
  "if [ -d ../packages ]; then mkdir -p packages && cp -r ../packages/* packages/; fi"
]

[phases.install]
cmds = [
  "npm install",
  "npx prisma generate"
]

[start]
cmd = "npm run start"

